<app-Header [title]="'Agregar Nuevo Contrato'"></app-Header>

<body>
  <h2>Agregar Nuevo Contrato</h2>
  <form action="/agregarContrato()" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required /><br /><br />

    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio" required /><br /><br />

    <label for="fechaInicio">Fecha de Inicio:</label>
    <input
      type="date"
      id="fechaInicio"
      name="fechaInicio"
      required
    /><br /><br />

    <label for="fechaVencimiento">Fecha de Vencimiento:</label>
    <input
      type="date"
      id="fechaVencimiento"
      name="fechaVencimiento"
      required
    /><br /><br />

    <label for="idSocio">ID del Socio:</label>
    <input type="number" id="idSocio" name="idSocio" required /><br /><br />

    <label for="idCuotasPosibles">ID de Cuotas Posibles:</label>
    <select id="idCuotasPosibles" name="idCuotasPosibles" required>
      <!-- Agrega opciones según IDCuotasPosiblesEnum -->
      <option value="cuota1">Cuota 1</option>
      <option value="cuota2">Cuota 2</option>
      <!-- Agrega más opciones según sea necesario --></select
    ><br /><br />
    <a href="/contratos" class="addition">Agregar Contrato</a>
    <!-- <input type="submit" value="Agregar Contrato" />-->
  </form>
</body>
