@if(!editMode) {<app-Header [title]="'Agregar Nuevo Contrato'"></app-Header>}
@else {<app-Header [title]="'Editar Contrato'"></app-Header>}
<body>
  @if(!editMode){
  <h2>Agregar Nuevo Contrato</h2>
  } @else{
  <h2>Editar Contrato</h2>
  }
  <form [formGroup]="contratoForm">
   
    @if(!editMode){
    <label for="Socio">¿Con que socio está asociado?*</label>
    <select formControlName="Socio" id="Socio">
      @for( opcion of opcionSocio; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }</select>
      @if(contratoForm.get('Socio')?.invalid && contratoForm.get('Socio')?.touched){
        <div class="error-message">
           @if(contratoForm.get('Socio')?.hasError('required'))
           {<small>El campo del socio asociado es obligatorio.</small>}
        </div>
      }
      
    <br /><br />
    <label for="cuotaAsociada">Que cuota desea*:</label>
    <select formControlName="cuotaAsociada" id="cuotaAsociada">
      @for( opcion of opcionCuota; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>
    @if(contratoForm.get('cuotaAsociada')?.invalid && contratoForm.get('cuotaAsociada')?.touched){
      <div class="error-message">
         @if(contratoForm.get('cuotaAsociada')?.hasError('required'))
         {<small>El campo de la cuota asociada es obligatorio.</small>}
      </div>
    }
    <br />
    <br />
    <label>Fecha de Inicio*:</label>
    <input type="date" id="FechaInicio" formControlName="FechaInicio" /> 
    @if(contratoForm.get('FechaInicio')?.invalid && contratoForm.get('FechaInicio')?.touched){
      <div class="error-message">
         @if(contratoForm.get('FechaInicio')?.hasError('required'))
         {<small>El campo de la fecha de inicio es obligatorio.</small>}
      </div>
    }
    <br />
    <br />
  }
    <label>Fecha de Vencimiento*:</label>
    <input
      type="date"
      id="FechaVencimiento"
      formControlName="FechaVencimiento"
    />  @if(contratoForm.get('FechaVencimiento')?.invalid && contratoForm.get('FechaVencimiento')?.touched){
      <div class="error-message">
         @if(contratoForm.get('FechaVencimiento')?.hasError('required'))
         {<small>El campo de la fecha de vencimiento es obligatorio.</small>}
      </div>
    }
    <br /><br />
    <label for="Estado">Estado*:</label>
    <select formControlName="Estado" id="Estado">
      @for( opcion of opcionEstado; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>
    @if(contratoForm.get('Estado')?.invalid && contratoForm.get('Estado')?.touched){
      <div class="error-message">
         @if(contratoForm.get('Estado')?.hasError('required'))
         {<small>El campo del estado es obligatorio.</small>}
      </div>
    }
    <br />
    @if(!editMode){
    <div>
      <button  class="addition" (click)="Add_Contrato()">
        Agregar Contrato
      </button>
      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    } @else {
    <div>
      <button class="addition" (click)="Update_Contrato(IDMiCuota)">
        Editar Contrato
      </button>
      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    }
  </form>
  <br /><br />

  @if(mostrarConfirmacion == true) {
    <div class="overlay">
      <div class="confirmacionModal">
        <div class="textoConfirmacion">
          <p>¿Está seguro que desea cancelar el proceso?</p>
        </div>
  
        <div class="botonesConfirmacion">
          <button class="Aceptar" (click)="goBack()">Aceptar</button>
          <button class="Cancelar" (click)="notGoBack()">Cancelar</button>
        </div>
      </div>
    </div>
  }
</body>
