<table>
  @if((authState$ | async) ;as authState){
  <!--@for(let categ of categoriaList;track categ.IDCategoria){-->

  <tr>
    <th>Conseguida</th>
    <th>Temporada</th>
    <th>Piscina</th>
    <th>Estilo</th>
    <th>Prueba</th>

    <th>Tiempo</th>
    <th></th>
  </tr>
  @for(P007Minima of minimalist;track P007Minima.IDMinima ){

  <tr>
    @if(P007Minima.Conseguida){
    <td><img class="imagen" src="assets/images/logro.png" /></td>
    }@else {
    <td><img class="imagen" src="assets/images/not.png" /></td>
    }
    <td>
      {{ P007Minima.Temporada }}
    </td>
    <td>{{ P007Minima.Piscina }}</td>
    <td>{{ P007Minima.Estilo }}</td>
    <td>{{ P007Minima.Prueba }}</td>

    <td>
      {{ P007Minima.TiempoMinimo }}
    </td>
    <td>
      @if(authState.user?.miembroPuesto=="Presidente" ||
      authState.user?.miembroPuesto=="Vicepresidente" ||
      authState.user?.entrenador){

      <button class="addition" (click)="Delete_Minima(P007Minima.IDMinima)">
        Eliminar
      </button>
      <button class="addition" (click)="editarMinima(P007Minima.IDMinima)">
        Editar
      </button>
      }
    </td>
  </tr>

  }}
</table>
