<app-Header [title]="'Formulario para Agregar/ Editar Cuotas'"></app-Header>
<body>
  <form class="time-form" [formGroup]="cuotasForm">
    <label for="Nombre">Nombre de la cuota*:</label><br />
    <input type="text" id="Nombre" formControlName="Nombre" /><br /><br />

    <label for="Precio">Precio de la cuota*:</label><br />
    <input type="text" id="Precio" formControlName="Precio" /><br /><br />

    <label for="Federado">¿Es una cuota para federados?*:</label><br />
    <input type="text" id="Federado" formControlName="Federado" /><br /><br />

    <br /><br /><br />

    @if(!editMode){
    <div>
      <button type="button" (click)="Add_Cuota()">Agregar Cuota</button>
    </div>
    } @else {
    <div>
      <button type="button" (click)="Edit_Cuota(IDCuota)">Editar Cuota</button>
    </div>
    }
  </form>
</body>
