<app-Header [title]="'Formulario para Agregar/ Editar Cuotas'"></app-Header>
<body>
  <form class="time-form" [formGroup]="cuotasForm">
    
    <label for="Nombre">Nombre de la cuota*:</label><br />
    <input type="text" id="Nombre" formControlName="Nombre" />
    @if(cuotasForm.get('Nombre')?.invalid && cuotasForm.get('Nombre')?.touched){
      <div class="error-message">
         @if(cuotasForm.get('Nombre')?.hasError('required'))
         {<small>El campo del nombre es obligatorio.</small>}
      </div>
    }<br /><br />

    <label for="Precio">Precio de la cuota*:</label><br />
    <input type="text" id="Precio" formControlName="Precio" />
    @if(cuotasForm.get('Precio')?.invalid && cuotasForm.get('Precio')?.touched){
      <div class="error-message">
         @if(cuotasForm.get('Precio')?.hasError('required'))
         {<small>El campo del precio es obligatorio.</small>}
      </div>
    }
    <br /><br />

    <label for="Federado">Federado*:</label>

    <select formControlName="Federado" id="Federado">
      @for( opcion of opcionFederado; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>
    @if(cuotasForm.get('Federado')?.invalid && cuotasForm.get('Federado')?.touched){
      <div class="error-message">
         @if(cuotasForm.get('Federado')?.hasError('required'))
         {<small>El campo del federado es obligatorio.</small>}
      </div>
    }<br /><br />

    @if(!editMode){
    <div>
      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
      <button  type="button" (click)="Add_Cuota()">Agregar Cuota</button>

    </div>

    } @else {
      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    <div>
      <button [disabled]="this.cuotasForm.invalid" type="button" (click)="Edit_Cuota(IDCuota)">Editar Cuota</button>
   

    </div>}
  </form>

  @if(mostrarConfirmacion == true) {
    <div class="overlay">
      <div class="confirmacionModal">
        <div class="textoConfirmacion">
          <p>¿Está seguro que desea cancelar el proceso?</p>
        </div>
  
        <div class="botonesConfirmacion">
          <button class="Aceptar" (click)="goBack()">Aceptar</button>
          <button class="Cancelar" (click)="notGoBack()">Cancelar</button>
        </div>
      </div>
    </div>
  }
</body>
