<app-Header
  [title]="'Formulario para Agregar/ Editar Datos de Contactos'"
></app-Header>
<body>
  <form class="time-form" [formGroup]="ContactoForm">
    <label for="nombre">Nombre*:</label><br />
    <input type="text" id="nombre" formControlName="nombre" /><br /><br />

    <label for="dato">Dato*:</label><br />
    <input type="text" id="dato" formControlName="dato" /><br /><br />
    @if(!editMode){
    <div>
      <button [disabled]="this.ContactoForm.invalid" class="addition" (click)="Add_Contacto()">Agregar Minima</button>
      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    } @else {
    <div>
      <button [disabled]="this.ContactoForm.invalid" class="addition" (click)="Update_Contacto(idDatosContacto)">
        Editar Contacto
      </button>
      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    }
  </form>

  @if(mostrarConfirmacion == true) {
    <div class="overlay">
      <div class="confirmacionModal">
        <div class="textoConfirmacion">
          <p>¿Está seguro que desea cancelar el proceso?</p>
        </div>
  
        <div class="botonesConfirmacion">
          <button class="Aceptar" (click)="goBack()">Aceptar</button>
          <button class="Cancelar" (click)="notGoBack()">Cancelar</button>
        </div>
      </div>
    </div>
  }
</body>
