<app-Header
  [title]="'Formulario para Agregar/ Editar Datos de Contactos'"
></app-Header>
<body>
  <form class="time-form" [formGroup]="ContactoForm">
    <label for="nombre">Nombre*:</label><br />
    <input type="text" id="nombre" formControlName="nombre" />
    @if(ContactoForm.get('nombre')?.invalid && ContactoForm.get('nombre')?.touched){
      <div class="error-message">
         @if(ContactoForm.get('nombre')?.hasError('required'))
         {<small>El campo del nombre del contacto es obligatorio.</small>}
      </div>
    }
    <br /><br />


    <label for="dato">Dato*:</label><br />
    <input type="text" id="dato" formControlName="dato" />
    @if(ContactoForm.get('dato')?.invalid && ContactoForm.get('dato')?.touched){
      <div class="error-message">
         @if(ContactoForm.get('dato')?.hasError('required'))
         {<small>El campo del dato del contacto es obligatorio.</small>}
      </div>
    }
    <br /><br />
    @if(!editMode){
    <div>
      <button  class="addition" (click)="Add_Contacto()">Agregar</button><br><br><br>
      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    } @else {
    <div>
      <button  class="addition" (click)="Update_Contacto(idDatosContacto)">
        Editar
      </button><br><br><br>
      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    }
  </form>

  @if(mostrarConfirmacion == true) {
    <div class="overlay">
      <div class="confirmacionModal">
        <div class="textoConfirmacion">
          <p>¿Está seguro que desea cancelar el proceso?</p>
        </div>
  
        <div class="botonesConfirmacion">
          <button class="Aceptar" (click)="goBack()">Aceptar</button>
          <button class="Cancelar" (click)="notGoBack()">Cancelar</button>
        </div>
      </div>
    </div>
  }
</body>
