<nav>
  @if((authState$ | async) ;as authState){
  <ul>
    <!--Public-->
    <li><a href="">Inicio</a></li>
    <li><a href="equipo">Equipo</a></li>
    <li><a href="galeria">Galería</a></li>
    <li><a href="cuotas">Cuotas</a></li>
    <li><a href="documentacion">Documentación</a></li>
    <li><a href="records">Récords</a></li>
    <!--Socios id y junta TODOS y presi y bipresi botones-->

    @if(authState.user?.socio || authState.user?.juntaDirectiva){
    <li><a href="contratos">Contratos</a></li>
    <li><a href="users">Usuarios</a></li>
    }
    <!--Entrenador botones y nadador visualizar id-->
    @if(authState.user?.entrenador ){

    <li><a href="users">Mis Nadadores</a></li>
    } @if(authState.user?.nadador|| authState.user?.entrenador){
    <li><a href="logged">Ayudas</a></li>
    <!--nadador byId-->
    <li><a href="tiempos">Tiempos</a></li>
    <!--nadador byId y todas-->
    <li><a href="minimas">Minimas</a></li>
    }
  </ul>
<!--<p>{{ authState | json }}</p>-->
}
</nav>
