nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: var(--Opcion);
  height: 10vh;
  border-bottom: 2px solid #280ba5;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.99);
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #033196;
  border-radius: 4px;
  box-shadow: black;
}
