<app-Header [title]="'Agregar Nuevo Miembro'"></app-Header>

<body>
  <h2>Agregar Nuevo Miembro</h2>
  <form [formGroup]="userForm">
    <!--(ngSubmit)="onSubmit()"-->
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" formControlName="nombre" />
    <!-- <div *ngIf="userForm.get('nombre').hasError('required') && userForm.get('nombre').touched">
      El nombre es obligatorio.
    </div>-->
    <br /><br />

    <label for="apellido">Apellido:</label>

    <input type="text" id="apellido" formControlName="apellido" /><br /><br />

    <label for="contrasena">Contraseña:</label>
    <input
      type="password"
      id="contrasena"
      formControlName="contrasena"
    /><br /><br />
    <label>Género:</label><br />

    <a class="space">
      <input
        type="radio"
        id="genero_masculino"
        name="genero"
        value="Masculino"
        formControlName="genero"
      />

      <label for="genero_masculino">Masculino</label><br />

      <input
        type="radio"
        id="genero_femenino"
        name="genero"
        value="Femenino"
        formControlName="genero"
      />
      <label for="genero_femenino">Femenino</label><br />
    </a>

    <label for="direccion">direccion:</label>
    <input type="text" id="direccion" formControlName="direccion" /><br /><br />

    <label for="telefono">Teléfono:</label>
    <input type="tel" id="telefono" formControlName="telefono" /><br /><br />

    <label for="crearSocio">Socio</label>
    <input
      type="checkbox"
      id="crearSocio"
      formControlName="crearSocio"
    /><br /><br />

    <label for="crearNadador">Nadador</label>
    <input
      type="checkbox"
      id="crearNadador"
      formControlName="crearNadador"
    /><br /><br />

    <label for="crearEntrenador">Entrenador</label>
    <input
      type="checkbox"
      id="crearEntrenador"
      formControlName="crearEntrenador"
    /><br /><br />

    @if(userForm.value.crearSocio){

    <label for="idCuota">Que cuota desea:</label>
    <select formControlName="idCuota" id="idCuota">
      @for( opcion of opcionCuota; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>

    } @if(userForm.value.crearNadador){
    <label for="socioasociado">¿Con que socio está asociado?</label>
    <select formControlName="socioasociado" id="socioasociado">
      @for( opcion of opcionSocio; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>

    <label for="entrenadorasociado">¿Cual será su entrenador?</label>
    <select formControlName="entrenadorasociado" id="entrenadorasociado">
      @for( opcion of opcionEntrenador; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>
    } @if(userForm.value.crearEntrenador){
    <label for="especialidad">Que especialidad?:</label>
    <input formControlName="especialidad" id="especialidad" type="text" />
    } @if(!editMode){
    <label>Fecha de Nacimiento:</label><br />
    <input
      type="date"
      id="fecha_nacimiento"
      formControlName="fechaNacimiento"
    /><br /><br />

    <label>Fecha de Inscripción:</label><br />
    <input
      type="date"
      id="fecha_inscripcion"
      formControlName="fechaInscripcion"
    /><br />
    <div>
      {{ this.userForm.invalid }}
      <button
        [disabled]="this.userForm.invalid"
        class="addition"
        (click)="Add_User()"
      >
        Agregar Miembro
      </button>
    </div>
    } @else {
    <div>
      <button class="addition" (click)="Update_User(idUser)">
        Editar Miembro
      </button>
    </div>
    }
    <!--<a href="/users" class="addition">Agregar Miembro</a>-->
    <!--<input (click)="Add_Member()" type="submit" value="Agregar Miembro" />-->
  </form>
</body>
