<app-Header [title]="'Ingresar Tiempo'"></app-Header>

<body>
  <form class="time-form" [formGroup]="tiempoForm">
    <h2>Ingresar Tiempo de Nado</h2>

    @if(editMode){ }@else{
    <label for="nadador">Para que nadador?*:</label>
    <select formControlName="nadador" id="nadador">
      @for( opcion of opcionNadador; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>
    }
    <label for="estilo">Estilo*:</label>
    <select formControlName="estilo" id="estilo">
      @for( opcion of opcionEstilo; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>

    <label for="prueba">Prueba*:</label>
    <select formControlName="prueba" id="prueba">
      @for( opcion of opcionPrueba; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>

    <label for="piscina">Piscina*:</label>
    <select formControlName="piscina" id="piscina">
      @for( opcion of opcionPiscina; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>

    <label>Fecha de la Marca*:</label>
    <input
      type="date"
      id="FechaMarcaNadador"
      formControlName="FechaMarcaNadador"
    />

    <label for="tiempo">Tiempo*:</label>
    <input type="text" formControlName="tiempo" id="tiempo" />
    @if(editMode){

    <div>
      <button class="addition" (click)="Update_Tiempo(idTiempo)">
        Editar Tiempo
      </button>

      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    } @else {
    <div>
      <button class="addition" (click)="Add_Tiempo()">Agregar Tiempo</button>

      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    }
  </form>

  @if(mostrarConfirmacion == true) {
    <div class="overlay">
      <div class="confirmacionModal">
        <div class="textoConfirmacion">
          <p>¿Está seguro que desea cancelar el proceso?</p>
        </div>
  
        <div class="botonesConfirmacion">
          <button class="Aceptar" (click)="goBack()">Aceptar</button>
          <button class="Cancelar" (click)="notGoBack()">Cancelar</button>
        </div>
      </div>
    </div>
  }
</body>
