<app-Header
  [title]="'Formulario para Agregar/ Editar la Documentacion'"
></app-Header>
<body>
  <form class="time-form" [formGroup]="documentacionForm">
    <label for="titulo">Titulo*:</label><br />
    <input type="text" id="titulo" formControlName="titulo" />
    @if(documentacionForm.get('titulo')?.invalid && documentacionForm.get('titulo')?.touched){
      <div class="error-message">
         @if(documentacionForm.get('titulo')?.hasError('required'))
         {<small>El campo del titulo es obligatorio.</small>}
      </div>
    }<br /><br />

    <label for="nombreUrl">Nombre del enlace*:</label><br />
    <input type="text" id="nombreUrl" formControlName="nombreUrl" />
    <div *ngIf="documentacionForm.get('nombreUrl')?.invalid && documentacionForm.get('nombreUrl')?.touched" class="error-message">
      <small *ngIf="documentacionForm.get('nombreUrl')?.hasError('required')">El campo del nombre del link es obligatorio.</small>
    </div>
    <br /><br />
    <label for="url">Enlace*:</label><br />
    <input type="text" id="url" formControlName="url" />
    @if(documentacionForm.get('url')?.invalid && documentacionForm.get('url')?.touched){
      <div class="error-message">
         @if(documentacionForm.get('url')?.hasError('required'))
         {<small>El campo de la url es obligatorio.</small>}
      </div>
    }
    <br /><br />
    <label for="categoriaDocumento">Tipo de documento*:</label>
    <select formControlName="categoriaDocumento" id="categoriaDocumento">
      @for( opcion of opcionDocumento; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>
    @if(documentacionForm.get('categoriaDocumento')?.invalid && documentacionForm.get('categoriaDocumento')?.touched){
      <div class="error-message">
         @if(documentacionForm.get('categoriaDocumento')?.hasError('required'))
         {<small>El campo de la categoria del documento es obligatorio.</small>}
      </div>
    }
    <br /><br /><br />

    @if(!editMode){
    <div>
      <button 
      class="addition" (click)="Add_Documentacion()">
        Agregar Documento
      </button>
      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    } @else {
    <div>
      <button  class="addition" (click)="Edit_Documentacion(idDocumentacion)">
        Editar Documento
      </button>
      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    }
  </form>

  @if(mostrarConfirmacion == true) {
    <div class="overlay">
      <div class="confirmacionModal">
        <div class="textoConfirmacion">
          <p>¿Está seguro que desea cancelar el proceso?</p>
        </div>
  
        <div class="botonesConfirmacion">
          <button class="Aceptar" (click)="goBack()">Aceptar</button>
          <button class="Cancelar" (click)="notGoBack()">Cancelar</button>
        </div>
      </div>
    </div>
  }
</body>
