<app-Header [title]="'Formulario para Agregar/ Editar la galeria'"></app-Header>
<body>
  <form class="time-form" [formGroup]="GaleriaForm">
    <label for="url">URL*:</label><br />
    <input type="text" id="url" formControlName="url" /><br /><br />
    @if(GaleriaForm.get('url')?.invalid && GaleriaForm.get('url')?.touched){
      <div class="error-message">
         @if(GaleriaForm.get('url')?.hasError('required'))
         {<small>El campo del url es obligatorio.</small>}
      </div>
    }<br><br>

    <label for="pie">Pie de foto*:</label><br />
    <input type="text" id="pie" formControlName="pie" /><br /><br />
    @if(GaleriaForm.get('pie')?.invalid && GaleriaForm.get('pie')?.touched){
      <div class="error-message">
         @if(GaleriaForm.get('pie')?.hasError('required'))
         {<small>El campo del pie de la foto es obligatorio.</small>}
      </div>
    }<br><br>

    <label for="nombreFoto">Nombre de la foto que presenta al album*:</label
    ><br />
    <input
      type="text"
      id="nombreFoto"
      formControlName="nombreFoto"
    />
    @if(GaleriaForm.get('nombreFoto')?.invalid && GaleriaForm.get('nombreFoto')?.touched){
      <div class="error-message">
         @if(GaleriaForm.get('nombreFoto')?.hasError('required'))
         {<small>El campo del nombre de la foto es obligatorio.</small>}
      </div>
    }<br><br>

    <form>
      <input type="file" (change)="onFileSelected($event)" />
    </form>
 <br><br>

    @if(!editMode){
    <div>
      <button  class="addition" (click)="Add_Galeria()">Agregar Galeria</button>
      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    } @else {
    <div>
      <button  class="addition" (click)="Update_Galeria(1)">
        Editar Galeria
      </button>
      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    }
  </form>

  @if(mostrarConfirmacion == true) {
    <div class="overlay">
      <div class="confirmacionModal">
        <div class="textoConfirmacion">
          <p>¿Está seguro que desea cancelar el proceso?</p>
        </div>
  
        <div class="botonesConfirmacion">
          <button class="Aceptar" (click)="goBack()">Aceptar</button>
          <button class="Cancelar" (click)="notGoBack()">Cancelar</button>
        </div>
      </div>
    </div>
  }
</body>
