<app-Header [title]="'Equipo'"></app-Header>
<app-Nav_Bar_public></app-Nav_Bar_public>
<body>
  <div class="container">
    <img class="imagen" src="assets/images/Inicio.jpg" />
    <p>
      La natación es la pasión que une a todos los miembros de este club. Este
      deporte, sin duda, es el que cada día nos impulsa a crecer más y más.<br /><br />

      El equipo de competición está compuesto por más de cien nadadores
      distribuidos en todas las categorías. Todos ellos están divididos en
      cuatro grupos, con un entrenador para cada uno.<br /><br />

      Con el objetivo de brindar la mejor calidad de enseñanza, motivación y
      supervisión, elementos fundamentales para inculcar el amor por el deporte
      y, por ende, convertir a un niño en un excelente deportista y, sobre todo,
      en un gran nadador.
    </p>
  </div>
</body>

<app-Footer></app-Footer>
