<app-Header [title]="'Usuarios'"></app-Header>
<app-Final_Nav_Bar></app-Final_Nav_Bar>
<br /><br /><br /><br />
@if((authState$ | async) ;as authState){ @if(authState.user?.juntaDirectiva ){
<div class="centrar">
  <button class="addition" (click)="Get_Socios()">Visualizar Socios</button>
  <button class="addition" (click)="Get_Entrenadores()">
    Visualizar Entrenadores
  </button>
  <button class="addition" (click)="Get_Nadadores()">
    Visualizar Nadadores
  </button>

  <button class="addition" (click)="Get_Junta()">
    Visualizar Junta Directiva
  </button>
  @if(authState.user?.miembroPuesto=="Presidente" ||
  authState.user?.miembroPuesto=="Vicepresidente" ){

  <button class="addition" (click)="abrirConfirmacion()">
    Actualizar Categorias
  </button>
  }
</div>
} @if(authState.user?.miembroPuesto=="Presidente" ||
authState.user?.miembroPuesto=="Vicepresidente" ){ @if(mostrarConfirmacion){
<div>
  <div class="textoConfirmacion">
    <p>
      ¿Está seguro que desea cambiar las categorías? Una vez que las cambie, no
      habrá marcha atrás
    </p>
  </div>

  <div class="botonesConfirmacion">
    <button class="Aceptar" (click)="actualizarAllCategorias()">Aceptar</button>

    <button class="Cancelar" (click)="cancelarActualizacion()">Cancelar</button>
  </div>
</div>
} }
<br /><br /><br /><br />
@if(usuariosTabla){
<app-Table
  [memberlist]="memberlist"
  [usuariosActivos]="usuariosActivos"
></app-Table>
}@if(socioTabla){
<app-Table_Socios [sociolist]="sociolist"></app-Table_Socios>
} @if(entrenadoresTabla){
<app-Table_Entrenadores
  [entrenadorlist]="entrenadorlist"
></app-Table_Entrenadores>
} @if(nadadoresTabla){
<app-Table_Nadadores [swimerlist]="swimerlist"></app-Table_Nadadores>}
@if(juntaTabla) { <app-Table_Junta [juntalist]="juntalist"></app-Table_Junta>

}

<br /><br />
@if(authState.user?.miembroPuesto=="Presidente" ||
authState.user?.miembroPuesto=="Vicepresidente" ){ @if(juntaTabla){<button
  class="addition"
  (click)="gotoFormularioJunta()"
>
  Añadir usuario a la junta Directiva</button
>}
<button class="addition" (click)="gotoFormulario()">Agregar Usuario</button>
} @if(authState.user?.juntaDirectiva ){
<button class="addition" (click)="Get_UsersActivated()">
  Visualizar Todos los Usuarios Activos
</button>

<button class="addition" (click)="Get_UsersInactivated()">
  Visualizar Todos los Usuarios Inactivos
</button>
<br /><br />
} @if(authState.user?.entrenador){
<br /><br /><br />
<button class="addition" (click)="actualizarContrasena()">Actualizar contraseña</button>
<h2 class="title">Mis Nadadores</h2>
<app-Table_Nadadores [swimerlist]="swimerlist"></app-Table_Nadadores>
<br />
} @if(authState.user?.socio){


<br /><br /><br />
<h2 class="title">Mis Nadadores</h2>
<app-Table_Nadadores [swimerlist]="swimerlist"></app-Table_Nadadores>
<br />
<button class="addition" (click)="actualizarContrasena()">Actualizar contraseña</button>
}
@if(authState.user?.nadador){


  
  <button class="addition" (click)="actualizarContrasena()">Actualizar contraseña</button>
  }
}
<br /><br /><br /><br /><br /><br />
<app-Footer></app-Footer>
