<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Destino</th>
      <th>Fecha de Salida</th>
      <th>Fecha de Regreso</th>
      <th>Hotel</th>
      <th>Personas</th>
      <th>Precio</th>
      <th>Número de Contacto</th>
      <th>Comentarios</th>
      <th>ID Miembro Junta</th>
      <th></th>
    </tr>
  </thead>
  <!--@for(destino of destinolist;track destino.id){-->
  <tr *ngFor="let destino of destinolist">
    <td>{{ destino.IDDestinos }}</td>
    <td>{{ destino.Destino }}</td>
    <td>{{ destino.FechaSalida | date }}</td>
    <td>{{ destino.FechaRegreso | date }}</td>
    <td>{{ destino.Hotel }}</td>
    <td>{{ destino.Personas }}</td>
    <td>{{ destino.Precio | currency }}</td>
    <td>{{ destino.NumeroContacto }}</td>
    <td>{{ destino.Comentarios }}</td>
    <td>{{ destino.IDMiembroJunta }}</td>
    <td>
      <button class="addition" onclick="editarMiembro()">Editar</button>
      <button class="addition" onclick="eliminarMiembro()">Eliminar</button>
    </td>
  </tr>
</table>
