<app-Header [title]="'Mínimas'"></app-Header>
<app-Final_Nav_Bar></app-Final_Nav_Bar>

<!--<label for="categoria">Categoria:</label>
<select formControlName="categoria" id="categoria">
  @for( opcion of opcionPiscina; track opcion.valor){
  <option [value]="opcion.valor">
    {{ opcion.etiqueta }}
  </option>
  }-->

<h1>Tabla de Mínimas para la categoria {{ this.categoriaNombre }}</h1>

<h2>Campeonato Regional</h2>
<app-Table_Minimas [minimalist]="regionalList"></app-Table_Minimas>
<br /><br />
<h2>Campeonato Nacional</h2>
<app-Table_Minimas [minimalist]="nacionalList"></app-Table_Minimas>
<br /><br />
<h2>Campeonato Europeo</h2>
<app-Table_Minimas [minimalist]="europeolist"></app-Table_Minimas>
<br /><br />
<h2>Campeonato Mundial</h2>
<app-Table_Minimas [minimalist]="mundiallist"></app-Table_Minimas>
<br /><br />
<h2>Campeonato Olimpico</h2>
<app-Table_Minimas [minimalist]="olimpicolist"></app-Table_Minimas>
<br /><br />

<body>
  <p><br /></p>

  <div class="centrarBotones">
    @if((authState$ | async) ;as authState){
    <!--
    <button class="addition" (click)="Get_Minimas()">
      Visualizar todas las Minimas
    </button>

    <button class="addition" (click)="Get_MinimasByAno()">
      Visualizar minimas según el año
    </button>

    <button class="addition" (click)="Get_MinimasByCategoria()">
      Visualizar minimas segun la categoria
    </button>-->

    @if(authState.user?.miembroPuesto=="Presidente" ||
    authState.user?.miembroPuesto=="Vicepresidente" ){

    <button class="addition" (click)="gotoFormulario()">Agregar Minima</button>
    }}
  </div>
</body>
