.addition {
  padding: 10px 20px;
  float: right;
  background-color: var(--Opcion);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}
.button:hover {
  background-color: #0056b3;
}

.centrarBotones {
  display: flex;
  justify-content: center;
  gap: 10px;
}
