.addition {
  padding: 10px 20px;
  float: right;
  background-color: var(--Opcion);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}
.button:hover {
  background-color: #0056b3;
}

.centrarBotones {
  display: flex;
  justify-content: center;
  gap: 10px;
}
/* Estilo general del formulario */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco para el formulario */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo para las etiquetas */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333333; /* Color de texto oscuro */
}

/* Estilo para los selectores */
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc; /* Borde gris claro */
  border-radius: 4px;
  background-color: #f9f9f9; /* Fondo de los selectores */
  font-size: 16px;
  color: #333333; /* Color del texto dentro del select */
  margin-bottom: 16px; /* Espacio entre los selectores */
}

/* Estilo para el espacio entre los elementos */
select:last-of-type {
  margin-bottom: 0; /* El último elemento no tendrá margen inferior */
}

h1 {
}
