<app-Header [title]="'Ingresar Minima'"></app-Header>

<body>
  <form class="time-form" [formGroup]="minimaForm">
    <h2>Ingresar Minima</h2>

    <label for="estilo">Estilo*:</label>
    <select formControlName="estilo" id="estilo">
      @for( opcion of opcionEstilo; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>

    <label for="prueba">Prueba*:</label>
    <select formControlName="prueba" id="prueba">
      @for( opcion of opcionPrueba; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>

    <label for="piscina">Piscina*:</label>
    <select formControlName="piscina" id="piscina">
      @for( opcion of opcionPiscina; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>
    <label for="temporada">Temporada*:</label>
    <select formControlName="temporada" id="temporada">
      @for( opcion of opcionTemporada; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>

    <!--<label for="genero">Genero*:</label>
    <select formControlName="genero" id="genero">
      @for( opcion of opcionGenero; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>-->

    <label for="categoria">Categoria*:</label>
    <select formControlName="categoria" id="categoria">
      @for( opcion of opcionCategoria; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>

    <label for="campeonato">Campeonato*:</label>
    <select formControlName="campeonato" id="campeonato">
      @for( opcion of opcionCampeonato; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>

    <label for="tiempoMinimo">Minima*</label>
    <input type="text" formControlName="tiempoMinimo" id="tiempoMinimo" />
    @if(!editMode){
    <div>
      <button [disabled]="this.minimaForm.invalid" class="addition" (click)="Add_Minima()">Agregar Minima</button>

      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    } @else {
    <div>
      <button [disabled]="this.minimaForm.invalid" class="addition" (click)="Update_Minima(idMinima)">
        Editar Minima
      </button>

      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    }
  </form>

  @if(mostrarConfirmacion == true) {
    <div class="overlay">
      <div class="confirmacionModal">
        <div class="textoConfirmacion">
          <p>¿Está seguro que desea cancelar el proceso?</p>
        </div>
  
        <div class="botonesConfirmacion">
          <button class="Aceptar" (click)="goBack()">Aceptar</button>
          <button class="Cancelar" (click)="notGoBack()">Cancelar</button>
        </div>
      </div>
    </div>
  }
</body>
