<app-Header [title]="'Agregar Nuevo Miembro De La Junta'"></app-Header>

<body>
  <h2>Agregar Nuevo Miembro De La Junta</h2>
  <form [formGroup]="juntaForm">
    <!--(ngSubmit)="onSubmit()"-->
    @if(!editMode){
    <label for="usuario">Usuario*: </label>
    <select formControlName="usuario" id="usuario">
      @for( opcion of opcionUsuario; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>
    @if(juntaForm.get('usuario')?.invalid && juntaForm.get('usuario')?.touched){
      <div class="error-message">
         @if(juntaForm.get('usuario')?.hasError('required'))
         {<small>El campo de usuario es obligatorio.</small>}
      </div>
    }
    <br />
    <br />
    <br />
    <label>Fecha de Inicio Cargo*:</label><br />
    <input
      type="date"
      id="fechaInicioCargo"
      formControlName="fechaInicioCargo"
    />
    
   @if(juntaForm.get('fechaInicioCargo')?.invalid && juntaForm.get('fechaInicioCargo')?.touched){
    <div class="error-message">
       @if(juntaForm.get('fechaInicioCargo')?.hasError('required'))
       {<small>El campo de la fecha que inicia el cargo es obligatorio.</small>}
    </div>
  }
    <br /><br />
}

    <label>Fecha de Termino Cargo*:</label><br />
    <input
      type="date"
      id="fechaTerminoCargo"
      formControlName="fechaTerminoCargo"
    />     
    <!--<div *ngIf="juntaForm.get('fechaTerminoCargo')?.invalid && juntaForm.get('fechaTerminoCargo')?.touched" class="error-message">
      <small *ngIf="juntaForm.get('fechaTerminoCargo')?.hasError('required')">El campo de la fecha que termina el cargo es obligatorio.</small>
    </div>-->
    <br /><br />

    <label for="puesto">Puesto*:</label>
    <select formControlName="puesto" id="puesto">
      @for( opcion of opcionPuesto; track opcion.valor){
      <option [value]="opcion.valor">
        {{ opcion.etiqueta }}
      </option>
      }
    </select>   
    @if(juntaForm.get('puesto')?.invalid && juntaForm.get('puesto')?.touched){
      <div class="error-message">
         @if(juntaForm.get('puesto')?.hasError('required'))
         {<small>El campo del puesto es obligatorio.</small>}
      </div>
    }

    @if(!editMode){

    <div>
      {{ this.juntaForm.invalid }}
      <button
       
        class="addition"
        (click)="Add_MiembroJunta()"
      >
        Agregar Miembro de la Junta
      </button>
      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    } @else { @if(idUser){
    <div>
      <button 
      class="addition" (click)="Update_MiembroJunta(idUser)">
        Editar Miembro de la Junta
      </button>
      <button
      
      class="addition"
      (click)="actualizar()"
    >
      Cancelar
    </button>
    </div>
    }}
    <!--<a href="/users" class="addition">Agregar Miembro</a>-->
    <!--<input (click)="Add_Member()" type="submit" value="Agregar Miembro" />-->
  </form>

  @if(mostrarConfirmacion == true) {
    <div class="overlay">
      <div class="confirmacionModal">
        <div class="textoConfirmacion">
          <p>¿Está seguro que desea cancelar el proceso?</p>
        </div>
  
        <div class="botonesConfirmacion">
          <button class="Aceptar" (click)="goBack()">Aceptar</button>
          <button class="Cancelar" (click)="notGoBack()">Cancelar</button>
        </div>
      </div>
    </div>
  }
</body>
