<app-Header [title]="'Iniciar Sesión'"></app-Header> <br /><br /><br />
<head>
  <title>Iniciar Sesión - Socio</title>
</head>
<body>
  <br /><br />
  <form action="autenticar_socio.php" method="POST" [formGroup]="Login_Form">
    <label for="direccion_usuario">Dirección de correo electrónico:</label>
    <input
      type="text"
      id="direccion_usuario"
      formControlName="direccion_usuario"
    /><br /><br />

    <label for="contrasena">Contraseña:</label>
    <input
      type="password"
      id="contrasena"
      formControlName="contrasena"
    /><br /><br />

    <button type="submit" [disabled]="Login_Form.invalid" (click)="login()">
      Iniciar Sesión
    </button>
  </form>
  <br /><br />
</body>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<app-Footer></app-Footer>
